<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="X-UA-Compatible" content="IE-edge"> <!--caso não coloque esses metas, nenhum dos componentes do angular vai funcionar.-->
    <meta http-equiv="Content-type" content="text/html; charset= UTF-8"> <!--caso não coloque esses metas, nenhum dos componentes do angular vai funcionar.-->
    <title>Angular</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body class="container" ng-app="app"> <!--referenciando o app.js.-->
    <div class="header-inner">
        <h1 style="text-align: center; color: blue;"> 
            Bem Vindo ao Curso de Desenvolvimento WEB com Angular JS
        </h1>
    </div>
    <div ng-controller="PrimeiroController" class="well"> <!--cria o controller e um arquivo pra ele.-->
        Olá, {{mensagem}} seja bem vindo! <!--duplas chaves no angular significa que ele vai procurar uma variável $scope.-->
        <div ng-class='{"panel-primary": iniciado, "panel-danger": !iniciado}'> <!--aplica uma classe css a um template.-->
            <div class="panel-heading">
                <h3 class="panel-title">Situação do curso</h3>
            </div>
                <div class="panel-body">
                    <p ng-show="iniciado">Curso em Andamento!</p>
                    <p ng-hide="iniciado">Curso Finalizado!</p>
                    <p ng-if="!iniciado">Aguarde o próximo curso!</p>
                    <p>Preço do curso: {{valor | currency : 'R$'}}</p> <!--currency = valor da moeda.-->
                    <p>Última atualização: {{hoje | date : 'dd/MM/yyyy'}}</p>
                </div>
        </div>
        <div>
            <label>Definir Preço</label>
            <input type="number" id="valor" name="valor" ng-model="valor">
        </div>
        <h3>Alunos Cadastrados</h3>
        <div>
            <label>Filtrar por nome</label>
            <input type="text" ng-model="filtro">
        </div>
        <div class="table-responsive">
            <table class=" table table-striped">
            <tr>
                <th ng-click="ordenarPorNome()">
                    Nome
                </th>
                <th ng-click="ordenarPorIdade()">
                    Idade
                </th>
            </tr>
            <tr ng-repeat="aluno in alunos | filter : filtro">
                <td>{{aluno.nome}}</td>
                <td>{{aluno.idade}}</td>
            </tr>
        </div>
    </table>
</div>
        <button ng-show="iniciado" ng-click="finalizar()" class="btn-danger">Finalizar</button>  <!--cria um evento no click, quando clicar acontecerá algo.-->
        <button ng-hide="iniciado" ng-click="iniciar()" class="btn-success">Iniciar</button>
        <h3>Nova Inscrição no curso</h3>
        <form name="form_1">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-default">
                        <label>Nome</label>
                        <input class="form-control" type="text" id="nome_aluno" name="nome_aluno" ng-model="nome_aluno" ng-readonly="!iniciado" ng-minlength="3"> <!--model referencia uma variável do scope.-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group-default">
                        <label>Idade</label>
                        <input class="form-control" type="number" id="idade_aluno" ng-model="idade_aluno">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button ng-click="submeter()" class="btn-primary" ng-disabled="!iniciado">Adicionar</button>
                </div>
            </div>
        </form>
    </div> 
    <div class="container-fluid container-fixed-lg footer">
        <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
               <span class="hint text">Copyright © 2024</span>
            </p>
        </div>
    </div>
    <script src="scripts/libs/angular.js"></script>
    <script src="scripts\app.js"></script>
    <script src="scripts\primeiro-controller.js"></script>
</body>
</html>